#
# Note
#   Travis CI will update GitHub Pages
#

branches:
  only:
    - master

notifications:
  email:
    - luncliff@gmail.com

os: linux
dist: bionic

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - doxygen
      - tree

language: python
python:
  - "3.8"

install:
  - pip install -r requirements.txt

script:
  - doxygen ./docs/Doxyfile
  - doxybook -i docs/xml -o docs -t mkdocs
  - mkdocs build

deploy:
  - provider: pages
    github_token: ${MAINTAINER_GITHUB_TOKEN}
    local_dir: site
    skip_cleanup: true
    keep_history: true
    on:
      branch: master
