#
#   https://github.com/matusnovak/doxybook2/
#   https://community.netlify.com/t/mkdocs-fail-on-build/12082/2
#   https://devblogs.microsoft.com/cppblog/clear-functional-c-documentation-with-sphinx-breathe-doxygen-cmake/
#   https://pandoc.org/demos.html
#
mkdocs
markdown
Pygments # https://pygments.org/

mkdocs-material>=9.0
mkdocs-material-extensions
